@font-face {
    font-family: 'Nunito';
    src: url('<?= Flight::base() ?>/public/assets/font/Nunito/Nunito-Regular.woff2') format('woff2'),
         url('<?= Flight::base() ?>/public/assets/font/Nunito/Nunito-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nunito';
    src: url('<?= Flight::base() ?>/public/assets/font/Nunito/Nunito-Bold.woff2') format('woff2'),
         url('<?= Flight::base() ?>/public/assets/font/Nunito/Nunito-Bold.woff') format('woff');
    font-weight: bold;
}
